<!DOCTYPE html>
<html>
  <head>
    <title>TaggerTest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-tagger navbar-dark px-4" style="min-height: 65px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag("Tagger.png", alt: "Tagger") %>
        </a>
        <div id="navbarRightMenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to images_path, class: 'nav-link' do %>
                <i class="fa-solid fa-image" style="color: #ffffff;"></i>
                Images
                <span class="visually-hidden">(current)</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to tags_path, class: 'nav-link' do %>
                <i class="fa-solid fa-hashtag" style="color: #ffffff;"></i>
                Tags
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-regular fa-user" style="color: #ffffff;"></i>
                  <%= current_user.email %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to destroy_user_session_path, method: :delete  do %>
                      <li class="dropdown-item">Sign out<li class="dropdown-item">
                    <% end %>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link' do %>
                  <i class="fa-regular fa-user" style="color: #ffffff;"></i>
                  Sign in
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="alert"><%= alert %></div>
    <%= yield %>
  </body>
</html>
